rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userDoc() {
      return /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth.uid == userId;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /product_category/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /item_master/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /banners/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /Branch/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /Latestvideos/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /Coupons/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /Transactions/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /Special_coupon/{id} {
      allow read, write: if true;
    }
  }
}
